.headline h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 300;
}

p.larger {
    font-weight: 300;
    font-size: 20px;
}


.dark-dark-purple-bg h2 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 0 2em;
}